# Dependencies
node_modules/
/.pnp
.pnp.js

# Build files
/build
/dist
/out
/frontend/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Testing
/coverage
.nyc_output

# Misc
.DS_Store
Thumbs.db
*.log
.cache/
.temp/

# Local Netlify folder
.netlify 